<%= form_for @budget do |f| %>

  <div class="col-4 form-group BudgetFormGroup">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    
  <div class="col-4 form-group BudgetFormGroup">
    <%= f.label :limit %><br>
    <%= f.number_field :limit, class: "form-control" %>
  </div>
    
    <%= f.submit "Create Budget", class: "btn btn-primary btn-sm" %>
    <%= link_to 'Back', budgets_path, class: "btn btn-outline-primary btn-sm" %>
<% end %>
