<%= form_for @budget do |f| %>

  <% if @budget.errors.any? %>
    <div style="color:red;">
      <h4>
        <%= pluralize(@budget.errors.count, "Error") %>
      </h4>
      <ul>
        <% @budget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-4 form-group BudgetFormGroup">
    <%= f.label :name %><br>
<<<<<<< HEAD
    <%= f.text_field :name, class: "form-control" %>
  </div>
    
  <div class="col-4 form-group BudgetFormGroup">
    <%= f.label :limit %><br>
    <%= f.number_field :limit, class: "form-control" %>
  </div>
    
    <%= f.submit "Create Budget", class: "btn btn-primary btn-sm" %>
    <%= link_to 'Back', budgets_path, class: "btn btn-outline-primary btn-sm" %>
=======
    <%= f.text_field :name, :placeholder => "Name" %>
  </p>
  <p>
    <%= f.label :limit %><br>
    <%= f.number_field :limit, :placeholder => "Limit" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
>>>>>>> ada6542be240c020e785b3be6049bd2a51de84c1
<% end %>
