<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    </head>
    <body>
        <header>
            <h1>Loot</h1>
        </header>
        <main>
            <button><%= link_to 'New', new_budget_path %></button>
            <table>
                    <% @budgets.each do |budget| %>
                        <tr>
                            <td><%= budget.name %></td>
                            <td><%= link_to 'View', transaction_path(budget) %></td>
                            <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
                            <td><%= link_to 'Delete', budget_path(budget), method: :delete, 
                            data: { confirm: 'All budget information will be lost. Are you sure?' }%></td>
                        </tr>

                <% end %>
            </table>
        </main>
    </body>
</html>