<h2><%= @budget.name %></h2>
<button id="newTransaction"><%= link_to 'Add Transaction', new_budget_transaction_path(@budget) %></button>
<table>
    <tr>
        <th>
            Recipient
        </th>
        <th>
            Amount
        </th>
        <th>
            Category
        </th>
        <th>
            Date
        </th>
        <th colspan="3">
            Actions
        </th>
    </tr>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.recipient %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.category.titleize %></td>
            <td><%= transaction.date %></td>
            <td><%= link_to 'View', budget_transaction_path(@budget, transaction) %></td>
            <td><%= link_to 'Edit', edit_budget_transaction_path(@budget, transaction) %></td>
            <td><%= link_to 'Delete', budget_transaction_path(@budget, transaction), method: :delete, 
                data: { confirm: 'All budget information will be lost. Are you sure?' }%></td>
        </tr>
    <% end %>
</table>

<%= pie_chart @budget.transactions.group(:category).sum(:amount) %>


<p>
    Spent: 
    <%= '%.2f' % @total_spent %>
</p>
<p>
    Remaining:
    <%= '%.2f' % @remaining %>
</p>
<p>
    Utilities: 
    <%= '%.2f' % @utilities %>
</p>
<p>
    Housing: 
    <%= '%.2f' % @housing %>
</p>
<p>
    Food: 
    <%= '%.2f' % @food %>
</p>
<p>
    Entertainment: 
    <%= '%.2f' % @entertainment %>
</p>
<p>
    Savings: 
    <%= '%.2f' % @savings %>
</p>
<p>
    Transportation: 
    <%= '%.2f' % @transportation %>
</p>
<p>
    Debt: 
    <%= '%.2f' % @debt %>
</p>

<%= link_to 'View All Transactions', budget_transactions_path(@budget) %>

