<h2><%= @budget.name %></h2>
<button id="newTransaction"><%= link_to 'Add Transaction', new_budget_transaction_path(@budget) %></button>
<table>
    <tr>
        <th>
            Recipient
        </th>
        <th>
            Amount
        </th>
        <th>
            Category
        </th>
        <th>
            Date
        </th>
        <th colspan="3">
            Actions
        </th>
    </tr>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.recipient %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.category %></td>
            <td><%= transaction.date %></td>
            <td><%= link_to 'View', budget_transaction_path(transaction) %></td>
            <td><%= link_to 'Edit', edit_budget_transaction_path(transaction) %></td>
            <td><%= link_to 'Delete', budget_transaction_path(transaction), method: :delete, 
                data: { confirm: 'All budget information will be lost. Are you sure?' }%></td>
        </tr>
    <% end %>
</table>

<%= link_to 'View All Transactions', budget_transactions_path(@budget) %>

