<h2><%= @budget.name %></h2>
<button id="newTransaction"><%= link_to 'Add Transaction', new_budget_transaction_path(@budget) %></button>
<table>
    <% @budget.transactions.each do |transaction| %>
        <td><%= transaction.recipient %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.category %></td>
        <td><%= transaction.date %></td>
        <td><%= link_to 'View', budget_transactions_path(transaction) %></td>
        <td><%= link_to 'Edit', edit_budget_transactions_path(transaction) %></td>
        <td><%= link_to 'Delete', budget_transactions_path(transaction), method: :delete, 
            data: { confirm: 'All budget information will be lost. Are you sure?' }%></td>
    <% end %>
</table>
<%= link_to 'View All Transactions', budget_transactions_path(@budget) %>

