<%= form_for([@budget, @transaction]) do |f| %>
    <% if @transaction.errors.any? %>
        <div style="color:red;">
            <h4><%= pluralize(@transaction.errors.count, "Error") %></h4>
            <ul>
                <% @transaction.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :recipient %><br>
        <%= f.text_field :recipient %>
    </p>
    <p>
        <%= f.label :amount %><br>
        <%= f.text_area :amount %>
    </p>
    <p>
        <%= f.label :category %><br>
        <%= f.select :category, selected: :category do |s|%>
            <%= Loot::CATEGORIES.each do |category| %>
                <% if category == @transaction.category %>
                    <%= content_tag :option, category.titleize, value: category, selected: @transaction.category %>
                <% else %>
                    <%= content_tag :option, category.titleize, value: category %>
                <% end %>
            <% end %>
        <% end %>
    </p>
    <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>