<h2>All Transacitons</h2>
<table>
    <th>
        <td>
            Recipient
        </td>
        <td>
            Amount
        </td>
        <td>
            Category
        </td>
        <td>
            Date
        </td>
    </th>
    <% @transactions.reverse.each do |transaction| %>
        <tr>
            <td><%= transaction.recipient %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.category.titleize %></td>
            <td><%= transaction.date %></td>
            <td><%= link_to 'View', budget_transaction_path(@budget, transaction) %></td>
            <td><%= link_to 'Edit', edit_budget_transaction_path(@budget, transaction) %></td>
            <td><%= link_to 'Delete', budget_transaction_path(@budget, transaction), method: :delete, 
                data: { confirm: 'All Transaction information will be lost. Are you sure?' }%></td>
        </tr>
    <% end %>
</table>
<div id="ledger">
    <table class="table-sm">
    <thead></thead>
    <tbody>
        <tr>
            <td>
                Limit: 
            </td>
            <td></td>
            <td>
                <%= @budget.limit %>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
               Less: Utilities
            </td>
            <td class="expense">
                (<%= '%.2f' % @utilities %>) 
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Housing: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @housing %>)
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Food: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @food %>)
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Entertainment: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @entertainment %>)
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Savings: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @savings %>)
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Transportation: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @transportation %>)
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td class="expense">
                Debt: 
            </td>
            <td class="expense">
                (<%= '%.2f' % @debt %>)
            </td>
        </tr>
        <tr>
            <td>
                Total Spent:
            </td>
            <td>
                
            </td>
            <td class="expense">
                <%= '%.2f' % @total_spent %>
            </td>
        </tr>
        <tr>
            <td>
                Remaining:
            </td>
            <td>
                
            </td>
            <% if @remaining <= 0 %>
                <td class="expense">
                    (<%= '%.2f' % @remaining %>)
                </td>
            <% elese %>
                <td>
                    <%= '%.2f' % @remaining %>
                </td>
            <% end %>
        </tr>
    </tbody>
</table>
</div>

<p>
    Spent: 
    
</p>
<p>
    Remaining:
</p>
<p>
    
</p>
<p>
    
</p>
<p>
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<%= link_to 'Back', budget_path(@budget) %>