<%= render 'layouts/header' %>

<div class='row align-items-center NewSection'>
  <div class="col card text-center">
    <h1 class="TopBottomMargin2">All <%= @budget.name %> Transactions</h1>
  </div>
</div>
<div class='row NewSection'>
  <div class="col-9">
    <div class="col card">
      <div class="card-block">
        <div class="row">
          <%= link_to 'Add Transaction', new_budget_transaction_path(@budget), class: 'btn btn-primary btn-sm' %>
          &nbsp;<%= link_to 'Back', budget_path(@budget), class: 'btn btn-outline-primary btn-sm' %>
        </div>
        
        <div class="row TableRow">
          <table class="table table-sm table-striped">
            <tr>
              <th>Recipient</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
            
            <% @transactions.reverse.each do |transaction| %>
              <tr>
                <td><%= transaction.recipient %></td>
                <td><%= '$%.2f' % transaction.amount %></td>
                <td><%= transaction.category.titleize %></td>
                <td><%= transaction.date %></td>
                <td>
                  <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, budget_transaction_path(@budget, transaction), class: 'text-muted' %>&nbsp;
                  <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_budget_transaction_path(@budget, transaction), class: 'text-muted' %>&nbsp;
                  <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, budget_transaction_path(@budget, transaction), class: 'text-danger', method: :delete, 
                      data: { confirm: 'All budget information will be lost. Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col card">
      <div class="card-block">
        <p>
          Utilities:<br />
          <%= '$%.2f' % @utilities %>
        </p>
        
        <p>
          Housing:<br />
          <%= '$%.2f' % @housing %>
        </p>
        
        <p>
          Food:<br />
          <%= '$%.2f' % @food %>
        </p>
        
        <p>
          Entertainment:<br />
          <%= '$%.2f' % @entertainment %>
        </p>
        
        <p>
          Savings:<br />
          <%= '$%.2f' % @savings %>
        </p>
        
        <p>
          Transportation:<br />
          <%= '$%.2f' % @transportation %>
        </p>
        
        <p>
          Debt:<br />
          <%= '$%.2f' % @debt %>
        </p>
        
        <p><strong>
          Total Spent:<br />
          <%= '$%.2f' % @total_spent %>
        </p></strong>
      </div>
    </div>
  </div>


<%= render 'layouts/footer' %>