<%= render 'layouts/header' %>

<div class="row NewSection">
  <div class="col card">
    <div class="card-block">
      <h2>
        Transaction
        &nbsp;<small><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_budget_transaction_path(@budget, @transaction), class: 'text-muted' %></small>
      </h2>
      
      
      <p>
        <strong>Recipient:</strong><br />
        <%= @transaction.recipient %>
      </p>
      <p>
        <strong>Amount:</strong><br />
        <%= '$%.2f' %  @transaction.amount %>
      </p>
      <p>
        <strong>Category:</strong><br />
        <%= @transaction.category.titleize %>
      </p>
      <p>
        <strong>Date:</strong><br />
        <%= @transaction.date.to_datetime.strftime('%m/%d/%Y') %>
      </p>
      <p>
        <%= link_to 'Budget Home', budget_path(@budget), class: "btn btn-primary btn-sm" %>
        <%= link_to 'All Transactions', budget_transactions_path(@budget), class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>