<!DOCTYPE html>
<html>
  <head>
    <title>Loot</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1>Loot</h1>
        <div id="UserLogout">
          <% if current_username %>
            Hi, <%= current_username.username %>!
            <%= link_to "Log out", logout_path, method: "delete" %>
          <% end %>
        </div>
      </header>
      
      <main>
        <%= yield %>
      </main>
      
      <footer>
        <span>&copy; Loot 2017</span>
        <span id="team">Scott Huff, Cory Johnson, Son Huynh &amp; Chris Stump</span>
      </footer>
    </div>
  </body>
</html>
